<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Event Log</div>

                    <div class="card-body">
                        <ul>
                            <li v-for="event in latest_events" :key="event">{{ event }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                events: [],
            }
        },
        computed:{
            latest_events() {
                return _.takeRight(this.events, 10)
            }
        },
        created() {
            console.log("subscribing to " + 'events_' + window.storage.favorite);

            window.Echo.channel('events_' + window.storage.favorite)
                .listen('TwitchEvent', e => {
                    this.events.push(e.content)
                })
        }
    }
</script>
